body {
    text-align: center;
    background-color: burlywood;
  }
  #load-btn ,
  #refresh-btn {
    color: whitesmoke;
    border: 2px solid silver;
    border-radius: 2px;
    background-color: skyblue;
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 2%; 
  }
  #refresh-btn {
    margin-left: 45%;
  }
  #load-btn:hover,#refresh-btn:hover {
    background-color: silver;
  }
  
  #table-container {
    margin: auto;
  }
  
  table {
    text-align: center;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    margin-top: 2%;
    margin-left: 10%;
    width: 80%;
    color:rgb(55, 101, 119);
    background-color: skyblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: scroll;
  }
  
  table,
  th,
  td {
    border-collapse: collapse;
    text-align: center;
    padding: 4px;
  }
  th {
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: skyblue;
    color: white;
    text-align: center;
  }
  tr {
    height: 4%;
  }
  
  .hidden {
    display: none;
  }
  
  table tr:nth-child(odd) {
    background-color: white;
  }
  
  table tr:hover {
    background-color: rgb(197, 197, 240);
  }
  
  
  #add-user {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    color: white;
    border: 2px solid silver;
    border-radius: 2px;
    background-color: skyblue;
  }
  #add-user:hover {
    background-color: rgb(156, 156, 211);
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  input {
    width: 95%;
    max-width: fit-content;
    white-space: nowrap;
    font-size: 12px;
  } 
  
  .edtBtn,
  .delBtn,
  .saveBtn,.canBtn {
    border-radius: 5%;
    font-size: 90%;
  }
  .edtBtn,.saveBtn,.btn-add-user {
    background-color: rgb(31, 122, 212);
    color: white;
  }
  .delBtn,.canBtn {
    background-color: #a73733;
    color: white;
  }